.about {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.about-list__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

.about-wrap {
  overflow: hidden;
  position: relative;
}

.about-wrap__text {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
  padding: 27px;
  height: 70px;
  width: 100%;
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
