.features {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;
}

.features-list {
  display: flex;
}

.features-list__item::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__item:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}

.features-list__item:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}

.features-list__item:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}

.features-list__item:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__item .features-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.features-list__after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--title-color);
  max-width: 270px;
}
