.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  align-items: baseline;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-tab {
  @media screen and (min-width: 768px) {
    align-items: baseline;
    display: flex;
  }
}

.contact {
  @media screen and (min-width: 768px) {
    padding-left: 76px;
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    margin-right: 0;
  }
}

.footer-link-logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-align: center;
  display: block;
  font-family: Raleway, cursive;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.footer-list {
  margin-bottom: -9px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: block;
    text-align: left;
  }
}

.footer-item {
  margin-bottom: 9px;
}

.footer-google-maps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  // padding-bottom: 60px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

.footer-social-link-box {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-social-link-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: var(--link-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.footer-social-list-item:not(:first-child) {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-link-icon {
  fill: var(--btn-color);
}
