.footer-portfolio-item {
  margin-bottom: 9px;
}

.footer-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #212121;
}

.footer-portfolio-link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
  font-family: Raleway, cursive;
  margin-bottom: 20px;
}

.footer-portfolio-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 20px;
}

.footer-portfolio-google-maps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 9px;
}

.footer-portfolio-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--link-color);
  }
}

.footer-portfolio-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

.footer-portfolio-container {
  display: flex;
  align-items: baseline;
}

.portfolio-social-link-box {
  margin-left: 70px;
}

.portfolio-social-link-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--link-color);
}

.portfolio-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.portfolio-social-list-item:not(:first-child) {
  margin-left: 10px;
}

.portfolio-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.portfolio-link-icon {
  fill: var(--btn-color);
}
