.work {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-list__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-profession {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.work-social {
  display: flex;
  justify-content: center;
}

.work-social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.work-social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .work-social__link:hover &,
  .work-social__link:focus & {
    fill: #ffffff;
  }
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

.work-profession__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}

.work-profession__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 16px;
}
