.policy-btn {
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
}

.connect-btn {
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.connect-btn-text {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  padding-left: 29px;
}

.connect-btn-icon {
  display: flex;
  padding-left: 10px;
}

.features-portfolio-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.features-portfolio-item-btn {
  margin-right: 8px;
}

.features-portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--btn-color);
  }
}

.features-portfolio-btn-current {
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}
